nav {
  background-color: rgba(155, 122, 101, 0.8);
}

.nav {
  color: black;
  justify-content: space-between;
  padding: 20px;
  font-weight: bold;
  font-size: larger;
  margin-left: 50px;
}

body {
  background-color: rgba(248, 255, 254, 0.8);
}

.post-item {
  border-style: outset;
  border-color: cornsilk;
  background-color: rgb(209, 209, 209);
}

.post-list {
  border-radius: 7px;
  background: burlywood;
  padding: 10px;
  align-items: center;
}

.create-post {
  border-radius: 7px;
  background: burlywood;
  margin-right: 10px;
}

.post-list-item {
  border-radius: 4px;
  background: rgb(216, 208, 198);
  border-style: outset;
  border-color: cornsilk;
}

.my-badge {
  font-size: 40px;
  color: rgba(37, 18, 18, 0.8);
  border-radius: 5px;
  background-color: rgba(212, 245, 239, 0.8);
  padding: 3px;
  box-shadow: 5px 5px grey;
  margin-left: 50px;
}

.navbar-expand-lg {
  padding: 15px;
}
